article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
  display: block;
}

@font-face {
  font-family: "LeagueGothicRegular";
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"),
  url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
  url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.header-wrapper {
  position: relative;
  height: 846px;
  background: url(../image/960px/BG.png) 50% 0% no-repeat;
  background-size: cover;
}

.header {
  width: 960px;
  height: 100%;
  margin: auto;
  background-size: cover;
}
.logo {
  background-image: url(../image/960px/my-version_logo.png);
  background-size: cover;
  margin-top: 7.27423%;
	width: 15.83333%;
  height: 4.632%;
  display: inline-block;
}
.menu {
  float: right;
	margin-top: 7.32%;
  width: 80.999%;
  height: 4.12766%;
}
.menu__list {
  height: 100%;
  text-align: right;
}
.menu__item {
  width: 100%;
  display: inline;
}
.menu__link {
  margin-left: 6%;
  text-decoration: none;
  text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-family: "LeagueGothicRegular";
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
}
.menu__link:hover {
  text-decoration: underline;
}
.iphone {
  z-index: 2;
  margin-top: 14%;
  margin-left: 64%;
  position: relative;
}
.carousel-wrapper {
	top: 32.7%;
  width: 100%;
  position: absolute;
  padding-bottom: 510px;
	overflow: hidden;
}
.carousel-items, .carousel-labels {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.carousel-item {
	display: block;
	float: left;
}
.carousel-items {
	width: 300%;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
  background-color: rgba(0,0,0,0.2);
	transition: left .5s ease-out;
	-o-transition: left .5s ease-out;
	-ms-transition: left .5s ease-out;
	-moz-transition: left .5s ease-out;
	-webkit-transition: left .5s ease-out;
}
.carousel-item {
	width: 33.33333333%;
	height: 100%;
	color: white;
}
.carousel-box {
  margin: auto;
  width: 960px;
}
.carousel-box__header {
  letter-spacing: -1px;
  padding-top: 9.5%;
	color: rgb(254, 254, 254);
	font-family: "LeagueGothicRegular";
	font-size: 374%;
	font-weight: 400;
	line-height: 36px;
}
.carousel-box__header2 {
  letter-spacing: -1px;
  color: rgb(237, 191, 255);
	font-family: "LeagueGothicRegular";
	font-size: 211%;
	font-weight: 400;
	line-height: 36px;
  margin-top: 1.2%;
}
.carousel-box__text {
  margin-top: 0.2%;
  padding-right: 48%;
  letter-spacing: -1px;
  color: white;
	font-family: "OpenSansLight";
	font-size: 114%;
  font-weight: 300;
  line-height: 24.9px;
}
.carousel-labels {
	z-index: 2;
  padding-right: 20.5%;
  top: 78%;
  text-align: right;
  position: relative;
}
.carousel-selector {
	display: none;
}
.carousel-label {
	display: inline-block;
}
.carousel-label label {
	width: 15px;
	height: 15px;
	border-radius: 10px;
	background-color: #3b3842;
	display: block;
	cursor: pointer;
}
.carousel-label label:hover{
  box-sizing: border-box;
  background-color: white;
  border: 2px solid #3b3842;
}
#slide1:checked ~ .carousel-items {
	left: 0;
}
#slide1:checked ~ .carousel-labels .carousel-label:nth-child(1) label {
	background-color: black;
}
#slide2:checked ~ .carousel-items {
	left: -100%;
}
#slide2:checked ~ .carousel-labels .carousel-label:nth-child(2) label {
	background-color: black;
}
#slide3:checked ~ .carousel-items {
	left: -200%;
}
#slide3:checked ~ .carousel-labels .carousel-label:nth-child(3) label {
	background-color: black;
}
.container-wrapper {
  position: relative;
	width: 100%;
	height: 342px;
	background-image: linear-gradient(to top, rgb(50, 37, 57) 0%, rgb(116, 80, 131) 100%);
}
.container-box {
  width: 960px;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
}
.box {
  padding: 5.4% 3.3% 7.7% 6.3%;
  float: left;
  height: 100%;
  width: 33.333333%;
  box-sizing: border-box;
}
.box__img {
  left: -22%;
  top: 27px;
  position: relative;
}
.box__header {
	height: 22px;
	text-shadow: 0.5px 0.9px 0 rgb(15, 21, 24);
	color: white;
	font-family: "LeagueGothicRegular";
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
}
.box__text {
  overflow: hidden;
  height: 65%;
	text-shadow: 0.5px 0.9px 0 rgb(15, 21, 24);
	color: white;
	font-family: "OpenSansLight";
	font-size: 16px;
	font-weight: 300;
	line-height: 150%;
  padding-top: 5%;
}
.box__link {
  overflow: hidden;
  margin-left: 71%;
  text-decoration: none;
	height: 14px;
	color: white;
	font-family: "LeagueGothicRegular";
	font-size: 112%;
	font-weight: 400;
	line-height: 24px;
}
.box__link:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.post-wrapper {
  height: 609px;
	background-color: #f9f9f9;
}
.post {
  position: relative;
  width: 960px;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
}
.post__side {
  float: left;
  height: 80%;
  width: 50%;
  box-sizing: border-box;
}
.side1 {
  padding: 10.4% 3.3% 11.7% 2.3%;;
}
.post__side_img1 {
  position: absolute;
  z-index: 5;
  top: 19.1%;
  left: -0.1%;
}
.post__carousel-wrapper {
  background-image: url(../image/960px/Layer-60.png);
	height: 106%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.post__carousel-items, .post__carousel-labels {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.post__carousel-item {
	display: block;
	float: left;
}
.post__carousel-items {
	width: 300%;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transition: left .5s ease-out;
	-o-transition: left .5s ease-out;
	-ms-transition: left .5s ease-out;
	-moz-transition: left .5s ease-out;
	-webkit-transition: left .5s ease-out;
}
.post__carousel-item {
	width: 33.33333333%;
	height: 100%;
	color: white;
}
.post__carousel-box {
  margin: auto;
  width: 960px;
}
.post__carousel-box_header {
	text-shadow: 0.5px 0.9px 0 white;
	font-family: "LeagueGothicRegular";
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
  color: rgb(69, 69, 69);
  margin-left: 4.2%;
  margin-top: 3.5%;
}
.span {
  margin: -0.3%;
  color: rgb(237, 191, 255);
}
.post__carousel-box_text {
  letter-spacing: -0.2px;
  margin-left: 3%;
  margin-top: 1%;
  text-shadow: 0.5px 0.9px 0 white;
  color: rgb(69, 69, 69);
  font-family: "OpenSansLight";
  font-size: 100%;
  line-height: 24px;
  width: 27.2%;
  height: 41%;
  position: absolute;
  overflow: hidden;
}
.post__carousel-labels {
	padding-right: 46.5%;
  padding-top: 1%;
  text-align: right;
}
.post__carousel-selector {
	display: none;
}
.post__carousel-label {
	display: inline-block;
}
.post__carousel-label label {
	width: 15px;
	height: 15px;
	border-radius: 10px;
	background-color: white;
	display: block;
	cursor: pointer;
  border: 3px solid rgb(230, 230, 230);
  box-sizing: border-box;
}
.post__carousel-label label:hover{
  box-sizing: border-box;
  background-color: #5a5a5a;
  border: 1.5px solid rgb(230, 230, 230);
  box-sizing: border-box;
}
#post__slide1:checked ~ .post__carousel-items {
	left: 0;
}
#post__slide1:checked ~ .post__carousel-labels .post__carousel-label:nth-child(1) label {
	background-color: black;
}
#post__slide2:checked ~ .post__carousel-items {
	left: -100%;
}
#post__slide2:checked ~ .post__carousel-labels .post__carousel-label:nth-child(2) label {
	background-color: black;
}
#post__slide3:checked ~ .post__carousel-items {
	left: -200%;
}
#post__slide3:checked ~ .post__carousel-labels .post__carousel-label:nth-child(3) label {
	background-color: black;
}
.side2 {
  padding: 13.9% 0.5% 9.7% 3.1%;;
}
.side2__part1 {
  padding: 4% 1.1% 0 0.2%;
  overflow: hidden;
  height: 26%;
  width: 100%;
  box-sizing: border-box;
}
.side2__header {
	text-shadow: 0.5px 0.9px 0 white;
	color: rgb(69, 69, 69);
	font-family: "LeagueGothicRegular";
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
}
.part1__img {
  float: left; 
}
.part1__header {
  display: inline-block;
  text-shadow: 0.5px 0.9px 0 white;
  color: rgb(69, 69, 69);
  font-family: "Myriad Pro";
  font-size: 120%;
  letter-spacing: 0.1px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 4%;
}
.part1__text {
  display: block;
  padding-left: 15%;
  text-shadow: 0.5px 0.9px 0 white;
	color: rgb(69, 69, 69);
	font-family: "OpenSansLight";
	font-size: 16px;
	line-height: 24px;
}
.part1__link_mob {
	display: none;
}
.part1__link {
  display: block;
  text-align: right;
  text-decoration: none;
  overflow: hidden;
  text-shadow: 0.5px 0.9px 0 white;
	color: rgb(69, 69, 69);
	font-family: "LeagueGothicRegular";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
  margin-top: 3.3%;
  margin-right: 3.3%;
}

.part1__link:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.post__footer {
  top: -122px;
  bottom: 0;
  position: relative;
  height: 120px;
  overflow: hidden;
  border-bottom: 2px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
.post__footer_img-320px{
	display: none;
}
.img___2 {
	display: none;
}
.img___3 {
	display: none;
}
.post__footer_img-480px {
	display: none;
}
.post__footer_img {
	margin-left: -362.5px;
	width: 725px;
	height: 65px;
	margin-top: 2.5%;
	left: 50%;
	position: absolute;
}
.news-wrapper {
  position: relative;
	width: 100%;
	height: 394px;
	background-color: #ececec;
  border-top: 1px solid #d8d8d8;
}
.news-box {
  width: 960px;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
}
.news {
  padding: 9.8% 3.3% 5.7% 0;
  float: left;
  height: 100%;
  width: 33.333333%;
  box-sizing: border-box;
}
.hidden_block {
  display: none;
}
.news__img {
  left: -22%;
  top: 33px;
}
.news__copyright {
	margin-top: 8%;
  text-shadow: 0.5px 0.9px 0 white;
  color: rgb(197, 197, 197);
  font-family: "Georgia";
  font-size: 16px;
  font-style: italic;
  line-height: 56%;
}
.news__text {
  overflow: hidden;
  height: 48%;
	padding-top: 5%;
	text-shadow: 0.5px 0.9px 0 white;
	color: rgb(120, 120, 120);
	font-family: "OpenSansLight";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}
.news__link {
  overflow: hidden;
  margin-left: 71%;
  text-decoration: none;
	height: 14px;
	color: white;
	font-family: "LeagueGothicRegular";
	font-size: 112%;
	font-weight: 400;
	line-height: 24px;
}
.news__link:hover {
  text-decoration: underline;
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.others {
  padding: 8.8% 3.3% 5.7% 2%;
}
.other__header {
	margin-top: 5%;
  text-shadow: 0.5px 0.9px 0 white;
	color: rgb(69, 69, 69);
	font-family: "LeagueGothicRegular";
	font-size: 30px;
	font-weight: 400;
	line-height: 22px;
  letter-spacing: -0.5px;
}
.other__text {
  overflow: hidden;
  height: 65%;
  width: 100%;
	padding-top: 5%;
	text-shadow: 0.5px 0.9px 0 white;
	color: rgb(120, 120, 120);
	font-family: "OpenSansLight";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}
.footer-wrapper {
  position: relative;
  height: 120px;
  background: url(../image/960px/footer.png)  50% 50% no-repeat;;
  background-size: cover;
}
.footer {
  clear: both;
  position: relative;
  width: 960px;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
}
.footer__menu {
  position: absolute;
	margin-top: 5%;
  width: 69.999%;
}
.footer__list {
  height: 100%;
}
.footer__item {
  width: 100%;
  display: inline;
}
.footer__link {
  margin-right: 5.8%;
  text-decoration: none;
  text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-family: "LeagueGothicRegular";
	font-size: 20px;
	font-weight: 400;
}
.signature {
  margin-left: 75%;
  height: 25%;
  overflow: hidden;
  padding-top: 4.5%;
  display: inline;
  text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
  color: white;
  font-family: "OpenSans";
  font-size: 80%;
  line-height: 34px;
  float: right;
  font-weight: 300;
}
.signature__span {
	font-weight: 900;
  letter-spacing: 0.5px; 
}